@font-face {
    font-family: arabic;
    src: url(Arabicfont.ttf);
}
body{
    margin: 0;
    font-family: arabic;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #F2F5FD;
    padding: 20px;
}
.navbar-logo{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: linear-gradient(190deg, rgba(15,31,48,1) 0%, rgba(10,68,143,1) 100%);
    color: #F2F5FD;
}
.logo{
    padding-left: 20px;
    width: 40px;
    height: 44px;
}
.navAnchor{
    color: black;
    text-decoration-line: none;
    margin-right: 20px;
}
.navBtn{
    color: #2FA7B5;
    background-color: #F2F5FD;
    border-radius: 3px ;
    border: 2px solid #2FA7B5;
    padding: 5px;
}
.navBtn:hover{
    background-color: #2FA7B5;
    color: #F2F5FD;
    cursor: pointer;
}
h1{
    font-size: 5em;
}
.stat-div{
    margin: 0 20%;
    padding: 12px;
    
}
.statistic-box{
    background-color: #F2F5FD;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin: 10px;
}
footer{
    background-color: #101E37;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.footer-containter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2F5FD;
}
.footer-img-containter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img{
    max-width: 150px;
    max-height: 80px;
    margin: 20px;
}
.color-text-teal{
    color: #2FA7B5;
}


/* Bootcamp page */
.header{
    background: linear-gradient(190deg, rgba(15,31,48,1) 0%, rgba(10,68,143,1) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    height: 30vh;
    padding-right: 30px;
}
.bootcampsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin: 0 10%;
    padding-bottom: 30px;
}
.bootcamp-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}
.card-header{
    display: flex;
    font-size: 1.1rem;
}
.card-icon{
    height: 60px;
    width: 60px;
    padding-left: 10px;
}
.bootcamp-text{
    margin: 20px;
    margin-right: 40px;
}

@media only screen and (max-width: 600px) {
    .bootcampsGrid{
        grid-template-columns:1fr;
    }
    footer{
        grid-template-columns:1fr;
    }
    .statistic-box{
        grid-template-columns:1fr;
    }
}